In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [7]:
df = pd.read_csv(r'/Users/alexandergrosek/Desktop/MEPS/h209.csv')
df.head()

,Unnamed: 0,DUID,PID,DUPERSID,PANEL,FAMID31,FAMID42,FAMID53,FAMID18,FAMIDYR,...,RXPTR18,RXOTH18,PERWT18F,FAMWT18F,FAMWT18C,SAQWT18F,DIABW18F,VSAQW18F,VARSTR,VARPSU
0,1,2290001,101,2290001101,22,A,A,A,A,A,...,107,0,19667.668164,17787.383745,17787.383745,20810.195151,0.0,0.0,2035,1
1,2,2290001,102,2290001102,22,A,A,A,A,A,...,1185,0,18188.857143,17787.383745,17787.383745,18206.987201,0.0,0.0,2035,1
2,3,2290002,101,2290002101,22,A,A,A,A,A,...,0,0,3566.790451,3492.196293,3492.196293,4351.439145,0.0,0.0,2048,2
3,4,2290002,102,2290002102,22,A,A,A,A,A,...,0,0,3879.757853,3492.196293,3492.196293,4134.435818,0.0,0.0,2048,2
4,5,2290002,103,2290002103,22,A,A,A,A,A,...,4,0,2707.394725,3492.196293,3492.196293,0.000000,0.0,0.0,2048,2

In [9]:
df.tail()

,Unnamed: 0,DUID,PID,DUPERSID,PANEL,FAMID31,FAMID42,FAMID53,FAMID18,FAMIDYR,...,RXPTR18,RXOTH18,PERWT18F,FAMWT18F,FAMWT18C,SAQWT18F,DIABW18F,VSAQW18F,VARSTR,VARPSU
30456,30457,2329684,102,2329684102,23,A,A,A,A,A,...,59,0,10560.396146,12335.228265,12335.228265,12014.508638,0.0,0.0,2003,1
30457,30458,2329685,101,2329685101,23,A,A,A,A,A,...,57,0,6838.076209,5583.839128,5583.839128,7068.299178,0.0,0.0,2076,3
30458,30459,2329687,101,2329687101,23,A,A,A,A,A,...,9,0,10603.950677,10564.410558,10564.410558,12187.234029,0.0,0.0,2072,1
30459,30460,2329687,102,2329687102,23,A,A,A,A,A,...,0,0,15328.727238,10564.410558,10564.410558,17534.755223,0.0,0.0,2072,1
30460,30461,2329687,103,2329687103,23,A,A,A,A,A,...,0,0,19826.955373,10564.410558,10564.410558,0.000000,0.0,0.0,2072,1